
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head") %> 
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQHJPZP" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
    <!-- End Google Tag Manager (noscript) -->

    <!-- Pageloader -->
    <div class="pageloader"></div>
    <div class="infraloader is-active"></div>

    <div class="error-container">
        <div class="error-wrapper">
            <div class="error-inner has-text-centered">
                <div class="bg-number dark-inverted">404</div>
                <img class="light-image" src="/static/dist/assets/img/illustrations/placeholders/3.svg" alt="" />
                <img class="dark-image" src="/static/dist/assets/img/illustrations/placeholders/3.svg" alt="" />
                <h3 class="dark-inverted">Hata Meydana Geldi...</h3>
                <p>Hata kayıt edildi. En kısa sürede hatayı gidermek için çalışacağım.</p>
                <!-- <div class="button-wrap">
                    <a class="button h-button is-primary is-elevated" onclick="goBack()">Geri Dön</a>
                </div> -->
            </div>
        </div>
    </div>

    <!-- Concatenated js plugins and jQuery -->
    <%- include ("../partials/script") %> 

    <!-- Landing page js -->

    <!-- Signup page js -->

    <!-- Feed pages js -->

    <!-- profile js -->

    <!-- stories js -->

    <!-- friends js -->

    <!-- questions js -->

    <!-- video js -->

    <!-- events js -->

    <!-- news js -->

    <!-- shop js -->

    <!-- inbox js -->

    <!-- settings js -->

    <!-- map page js -->

    <!-- elements page js -->
</body>

</html>